@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{var result = ViewData["prayers"] as List<PrayerViewModel>;}
    @{
        DateTime dt = DateTime.Today;
        string dateFormatted = dt.Date.ToString("yyyy-MM-d");
        var prayer = result.First(x => x.fajr_date == dateFormatted);
    }
    <form>
        <table style="width: 100%; margin-bottom: 25px">
            <tr>
                <td>
                    <button name="button_value" style="background-color: transparent; color: yellow" value="cph" asp-action="check">
                        København
                    </button>
                </td>
                <td>
                    <button name="button_value" style="background-color: transparent; color: yellow" value="odense" asp-action="check">
                        Odense
                    </button>
                </td>
                <td>
                    <button name="button_value" style="background-color: transparent; color: yellow" value="aarhus" asp-action="check">
                        Århus
                    </button>
                </td>
                <td>
                    <button name="button_value" style="background-color: transparent; color: yellow" value="aalborg" asp-action="check">
                        Aalborg
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <table style="width: 100%">
        <tr style="color: #FFDC00">
            <th>Fajr</th>
            <th>Shuruk</th>
            <th>Dhuhr</th>
            <th>Asr</th>
            <th>Maghreb</th>
            <th>Isha</th>
        </tr>
        <tr style="color: #FFDC00">
            <td>
                @Convert.ToDateTime(prayer.fajr_time).AddMinutes(2).ToString("HH:mm")
            </td>
            <td>
                @Convert.ToDateTime(prayer.sunrise_time).AddMinutes(2).ToString("HH:mm")
            </td>
            <td>
                @Convert.ToDateTime(prayer.zohr_time).AddMinutes(2).ToString("HH:mm")
            </td>
            <td>
                @Convert.ToDateTime(prayer.mithl_time).AddMinutes(2).ToString("HH:mm")
            </td>
            <td>
                @Convert.ToDateTime(prayer.sunset_time).AddMinutes(2).ToString("HH:mm")
            </td>
            <td>
                @Convert.ToDateTime(prayer.esha_time).AddMinutes(2).ToString("HH:mm")
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr style="color: #FFDC00">
            <td>
                Hanafi asr: @Convert.ToDateTime(prayer.mithlain_time).AddMinutes(2).ToString("HH:mm"). NB! Tiderne er vejledende 
            </td>
        </tr>
    </table>

</div>
