    @using Domain.Models;
    @using Microsoft.AspNetCore.Http
    @{
        ViewData["Title"] = "Home Page";
        var activeButton = Context.Session.GetString("ActiveButton");
    }

    <style>
        body {
            background-color: #1a1a1a;
            color: #FFFFFF;
        }

        .prayer-buttons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 25px;
        }

        .prayer-button {
            background-color: transparent;
            color: #FFDC00;
            font-size: 16px;
            border: 1px solid #FFDC00;
            padding: 6px 12px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .prayer-table {
            width: 100%;
            border-collapse: collapse;
        }

            .prayer-table th,
            .prayer-table td {
                border: 1px solid #FFDC00;
                padding: 8px;
                text-align: center;
            }

            .prayer-table th {
                background-color: #333333;
            }

        .hanafi-asr {
            color: #FFDC00;
            text-align: right;
            margin-top: 25px;
        }

    .selected-prayer-button {
        background-color: #FFDC00;
        color: #1a1a1a;
        border-color: #1a1a1a;
    }

    </style>

    <div class="text-center">
        @{
            DateTime dt = DateTime.Today;
            string dateFormatted = dt.Date.ToString("yyyy-MM-dd");
            var model = (CityPrayerTimes)Model;
            var prayer = model.DailyPrayerTimesList.First(x => x.Date.ToString("yyyy-MM-dd") == dateFormatted);
        }


        <form>
        <div class="prayer-buttons">
            <button class="prayer-button @(activeButton == "cph" ? "selected-prayer-button" : "")" name="button_value" value="cph" asp-action="Check">København</button>
            <button class="prayer-button @(activeButton == "odense" ? "selected-prayer-button" : "")" name="button_value" value="odense" asp-action="Check">Odense</button>
            <button class="prayer-button @(activeButton == "aarhus" ? "selected-prayer-button" : "")" name="button_value" value="aarhus" asp-action="Check">Århus</button>
            <button class="prayer-button @(activeButton == "aalborg" ? "selected-prayer-button" : "")" name="button_value" value="aalborg" asp-action="Check">Aalborg</button>
        </div>
        </form>

        <table class="prayer-table">
            <tr>
                <th>Fajr</th>
                <th>Shuruk</th>
                <th>Dhuhr</th>
                <th>Asr</th>
                <th>Maghreb</th>
                <th>Isha</th>
            </tr>
            <tr>
                <td>@prayer.FajrTime</td>
                <td>@prayer.SunriseTime</td>
                <td>@prayer.DhuhrTime</td>
                <td>@prayer.AsrTime</td>
                <td>@prayer.MaghribTime</td>
                <td>@prayer.IshaTime</td>
            </tr>
        </table>

        <div class="hanafi-asr">
            Hanafi asr: @prayer.AsrHanafiTime
        </div>
    </div>
